/*////////*/
/* Layout */
/*////////*/

.v-align,
h-align,
.btn,
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-align,
.btn,
.search-btn {
  flex-direction: column;
}

.h-align,
.btn,
.search-btn {
  flex-direction: row;
}

.row {
  display: flex;
  width: fit-content;
  z-index: 5;
}

.column-left {
  width: var(--search-input-width);
}

.column-right {
  flex: 1;
}

.p-30 {
  padding: 30px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}
